<mat-nav-list class="list">
   <mat-divider></mat-divider>
   <a mat-list-item routerLink="/"><mat-icon class="icon" >home</mat-icon>Inicio</a>
   <a mat-list-item routerLink="/movements"><mat-icon class="icon" >import_export</mat-icon>Movimientos</a>
   <a mat-list-item routerLink="/accounts"><mat-icon class="icon" >account_balance_wallet</mat-icon>Cuentas</a>
   <a mat-list-item routerLink="/budgets"><mat-icon class="icon" >home</mat-icon>Presupuesto</a>
   <a mat-list-item routerLink="/categories"><mat-icon class="icon" >category</mat-icon>Categorias</a>
   <mat-divider></mat-divider>
   <a mat-list-item routerLink="/"><mat-icon class="icon" >pie_chart</mat-icon>Informes</a>
   <a mat-list-item routerLink="/" (click)='login()' ><mat-icon class="icon" >pie_chart</mat-icon>Iniciar sesion test</a>
   <mat-divider></mat-divider>
   <a mat-list-item routerLink="/"><mat-icon class="icon" >build</mat-icon>Opciones</a>
   <a mat-list-item routerLink="/login" (click)="onCloseSesion()"><mat-icon class="icon" >exit_to_app</mat-icon>Cerrar Sesion</a>
</mat-nav-list>
