<mat-list>
   <h3 mat-subheader>Budgets</h3>
   <mat-list-item >
      <mat-icon mat-list-icon>fastfood</mat-icon>
      <h4 mat-line>Comida $0.00</h4>
      <div mat-line>         
         <mat-progress-bar
            class="example-margin"
            color="primary"
            mode="derterminate"
            value="0">
         </mat-progress-bar>
      </div>   
      <div mat-line>         
         500 por mes      
      </div>      
   </mat-list-item>   
   
   <mat-list-item >
         <mat-icon mat-list-icon>fastfood</mat-icon>
         <h4 mat-line>Comida $250.00</h4>
         <div mat-line>         
            <mat-progress-bar
               class="example-margin"
               color="primary"
               mode="derterminate"
               value="50">
            </mat-progress-bar>
         </div>   
         <div mat-line>         
            500 por mes      
         </div>      
      </mat-list-item>   
</mat-list>