<!--
   <mat-toolbar>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      <span>Custom Toolbar</span>
   </mat-toolbar>
-->
<mat-tab-group>
   <mat-tab>
      <ng-template mat-tab-label>
         <mat-icon class="tab-icon">add</mat-icon>
         Ingreso
      </ng-template>
      <kui-income-form></kui-income-form>
   </mat-tab>
       
      <mat-tab>
         <ng-template mat-tab-label>
            <mat-icon class="tab-icon">remove</mat-icon>
            Gasto
         </ng-template>
         <kui-expense-form></kui-expense-form>
      </mat-tab>
      
      <mat-tab>
         <ng-template mat-tab-label>
            <mat-icon class="tab-icon">swap_horizon</mat-icon>
            Transferencias
         </ng-template>
      
         <kui-transfer-form></kui-transfer-form>
      </mat-tab>
   </mat-tab-group>